body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("./pic/usa-new-york-city-manhattan-trump-tower-view-from-below-FC000897.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-inner > .item > img {
    width: auto;
    height: 225px;
    max-height: 225px;
  }

.navbar {
    font-size: 30px;
    font-family: 'Cormorant Unicase', serif;
    color: goldenrod;
    background-image: url("./pic/index/american-flag-royalty-free-image-141653762-1560206611.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

#welcome{
    color: rgb(255, 0, 0);
    padding: 5px;
    font-family: 'Cormorant Unicase', serif;
    font-size: 50px;
    background-image: url("./pic/index/american-flag-royalty-free-image-141653762-1560206611.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -8px;
}