body,
html {
  height: 100%;
}

.bg {
  background-image: url("./pic/usa-new-york-city-manhattan-trump-tower-view-from-below-FC000897.jpg");
  height: 100%;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-inner > .item > img {
  width: auto;
  height: 225px;
  max-height: 225px;
}

.navbar {
    font-size: 30px;
    font-family: 'Cormorant Unicase', serif;
    color: goldenrod;
    background-image: url("./pic/index/american-flag-royalty-free-image-141653762-1560206611.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

#welcome{
    color: rgb(255, 0, 0);
    padding: 5px;
    font-family: 'Cormorant Unicase', serif;
    font-size: 50px;
    font-weight: 600;
    background-image: url("./pic/index/american-flag-royalty-free-image-141653762-1560206611.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -8px;
}

.cards {
  justify-content: space-evenly;
  margin-top: 20px;
  height: 520px;
  font-family: 'Cormorant Unicase', serif;
}
.card-img-top{
  max-height: 400px;
}
.cards > .card-body {
  display: flex;
  flex-direction: column;
}